@{
    ViewData["Title"] = "Hello Mockups";
    
}

<div class="text-left">
    <h1>Mockups</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="Mockup" asp-action="Quiz">Quiz</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Mockup" asp-action="QuizResult">QuizResult</a>
        </li>
    </ul>


</div>